<nav class="navbar navbar-dark bg-dark shadow p-0">
    <a class="col-2 col-md-12 navbar-brand text-white text-center" href="index.html">
        J<span class="text-mint m-0 p-0">/</span>LEE
    </a>
    <button class="navbar-toggler mx-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-line"></span>
        <span class="icon-line"></span>
        <span class="icon-line"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./files/j.lee.resume.pdf">RESUME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="portfolio.html">MY WORK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">CONTACT</a>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var href = document.location.href;
            var path = href.substr(href.lastIndexOf('/') + 1);
            $('a[href="' + path + '"]').parents('li,ul').addClass('active');
        }());
    </script>
</nav>