body, 
html {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    width: 100%;
    background: url('3f247077460add9a7fb8fd36c7bbadcc.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 33% 10%;
}
.home-content {
    padding-top: 10vh !important;
}
.page-not-found {
    margin-top: 20vh !important;
}
.font-size-xl {
    font-size: 6rem;
}
.font-size-lg {
    font-size: 4rem;
}
.font-size-md {
    font-size: 2rem;
}
.text-shadow {
    text-shadow: 3px 0px 2px #ff9100, 2px 0px 2px #ff9100, 1px 0px 2px #ff9100;
}
.btn-custom {
    color: #ff9100;
    border-top: 2px solid #000;
    border-bottom: 2px solid #ff9100;
    border-left: 2px solid #000;
    border-right: 2px solid #ff9100;
    box-shadow: 2px 2px 4px #ff910080;
    padding: 6px;
    display:inline-block;
    width: 200px;
    font-weight: 700;
}
.btn-custom:hover {
    opacity: .8;
}
a {
    text-decoration:none !important;
}
a:hover {
    cursor: pointer;
    color: #ff9100 !important;
}
.footer {
    position: absolute;
    bottom:0;
    width: 100%;
}
.border-orange {
    border-color: #ff9100 !important;
}
.text-orange {
    color: #ff9100 !important;
    font-weight: 700;
}
.img-greyscale {
    filter: grayscale();
}
.img-greyscale:hover {
    filter: none;
}
